<img src={{model.picUrl}} alt={{model.name}} />
<h3> {{model.name}} </h3>
<p> {{model.description}} </p>
<p> {{model.category}} | {{model.location}} </p>
<p> Open at {{model.openAt}} </p>
<p> {{model.rate}} </p>

{{outlet}}
