<div class="restaurant-show">
  <h1 class="text-center" tabindex="0"> {{model.name}} </h1>
  <img class="medium-6" src={{model.picUrl}} alt={{model.name}} />
  <div class="content columns medium-6">
    <p tabindex="0"> Description: {{model.description}} </p>
    <address tabindex="0"> Address: {{model.address}} </address>
    <p tabindex="0">
      Open from <time>{{model.openAt}}</time>
      to <time>{{model.closeAt}}</time>
    </p>
  </div>
</div>

{{outlet}}
