<div class="restaurant-show clearfix">
  <h2 class="text-center"> {{model.name}} </h2>
  <img class="medium-6" src={{model.picUrl}} alt={{model.name}} />
  <div class="content columns medium-6">
    <p> Description: {{model.description}} </p>
    <address> Address: {{model.address}} </address>
    <p>
      Open from <time>{{model.openAt}}</time>
      to <time>{{model.closeAt}}</time>
    </p>
  </div>
</div>

{{outlet}}
