<div class="restaurant-show clearfix">
  <h2> {{model.name}} </h2>
  <img src={{model.picUrl}} alt={{model.name}} width="288" height="192"/>
  <div class="restaurant-content">
    <p> {{model.description}} </p>
    <address class="address"> Address: {{model.address}} </address>
    <p> {{model.category}} | Open at {{model.openAt}} </p>
  </div>
</div>

{{outlet}}
