<div class="reviews">
  <h2>Reviews</h2>

  {{#each model as |rate|}}
    <div class="review clearfix">
      <div class="review-author">
        <img src={{rate.user.avatar}} alt={{rate.user.name}} />
        {{rate.user.name}}
      </div>
      <div class="review-content">
        <p>{{rate-stars score=rate.score}}</p>
        <p>{{rate.comment}}</p>
      </div>
    </div>
  {{/each}}
</div>
