
<p> {{link-to "Write a review" "reviews.new" class="new-link"}} </p>
<div class="reviews">
  <h2 tabindex="0">Reviews</h2>
  {{#each model as |review|}}
    <div class="review" tabindex="0">
      <p class="info">
        {{review.reviewerName}} at {{moment-from-now review.reviewDate}}
      </p>
      <div class="content">
        {{review-stars score=review.score}}
        <p>{{review.comment}}</p>
      </div>
    </div>
  {{/each}}
</div>
