<div class="new-review">
  <h2>Write a review</h2>
  <form {{action "createReview" on="submit"}}>
    <label class={{if nameValid "small-6" "small-6 fail"}}>
      your name: {{input value=reviewerName}}
      {{#unless nameValid}}
        <span role="alert">please input your name</span>
      {{/unless}}
    </label>
    <!-- <label class="small-6">score:
      {{#x-select value=score as |s|}}
        {{#s.option value=1}}1{{/s.option}}
        {{#s.option value=2}}2{{/s.option}}
        {{#s.option value=3}}3{{/s.option}}
        {{#s.option value=4}}4{{/s.option}}
        {{#s.option value=5}}5{{/s.option}}
      {{/x-select}}
    </label> -->
    <div class="score">
      <label class={{if (eq score 5) "selected"}}>
        <input type="radio" name="score" value="5" title="5 stars"
          {{action "selectScore" 5 on="change"}}>
      </label>
      <label class={{if (eq score 4) "selected"}}>
        <input type="radio" name="score" value="4" title="4 stars"
          {{action "selectScore" 4 on="change"}}>
      </label>
      <label class={{if (eq score 3) "selected"}}>
        <input type="radio" name="score" value="3" title="3 stars"
          {{action "selectScore" 3 on="change"}}>
      </label>
      <label class={{if (eq score 2) "selected"}}>
        <input type="radio" name="score" value="2" title="2 stars"
          {{action "selectScore" 2 on="change"}}>
      </label>
      <label class={{if (eq score 1) "selected"}}>
        <input type="radio" name="score" value="1" title="1 stars" 
          {{action "selectScore" 1 on="change"}}>
      </label>
    </div>
    <label class={{if commentValid "" "fail"}}>
      comment: {{textarea value=comment rows="4"}}
      {{#unless commentValid}}
        <span role="alert">please input some comment</span>
      {{/unless}}
    </label>
    {{input type="submit" class="button" value="submit"}}
  </form>
</div>

<div class="reviews">
  <h2>Reviews</h2>
  {{#each model as |review|}}
    <div class="review">
      <p class="info">
        {{review.reviewerName}} at {{moment-from-now review.reviewDate}}
      </p>
      <div class="content">
        {{review-stars score=review.score}}
        <p>{{review.comment}}</p>
      </div>
    </div>
  {{/each}}
</div>
